<div>
    <h1>
        {{'Page Header ' + pageHeader}}
    </h1>
    <h2>{{'Full Name - ' + getFullName()}}</h2>
    <img src="https://www.google.com{{imagePath}}" alt="" />
    <my-employee></my-employee>
    <br />
    <button [disabled]='isDisabled'>ClickMe</button>
    <br />
    <span innerHtml='pageHeader'></span>    
    <br />
    <span bind-innerHtml='pageHeader'></span>
    <br />
    <span innerHtml>{{badHtml}}</span>
    <br />
    <span [innerHtml]='badHtml'></span>
    <br />
    <input id='inputId' type="text" value="Tom">
    <br/>
    <button class="colorClass" [class]="classesToApply">My Button</button>
    <br/>
    <button class="colorClass italicsClass boldClass" [class.applyBoldClass]="applyBoldClass">My Button</button> 
    <br/>
    <button class="colorClass" [ngClass]="addClasses()">My Button</button> 
    <span></span>
</div>